* {
    box-sizing: border-box;
}

body{
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;
text-align: center;
}

.gallery {
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-gap: 20px 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery a:hover {
    transform: scale(1.05);
    box-shadow: -2px 3px 10px darkgray;
}

#search {
    width: 500px;
    padding: 3%;
    border-radius: 5px;
    border: ridge gray;
    box-shadow: 2px 2px 2px grey;
    border-width: thin;
}
.search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
::placeholder {
    color: darkgreen;
    padding-left: 10px;
}