.gallery {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-gap: 20px 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}
.gallery a:hover {
    transform: scale(1.05);
    box-shadow: -10px 5px 5px darkgrey;
}


#search {
    width: 40rem;
    padding: 10px;
    border-radius: 3px;
    border: ridge gray;
    box-shadow: 2px 2px 2px grey;
    border-width: thin;
}
.search {
    display: flex;
    justify-content: center;
    margin: 25px auto;
}
::placeholder {
    color: darkgreen;
    padding-left: 10px;
}
